@charset "UTF-8";

element.style {
    margin-left: 0px;
}
.navigation_bar {
    font-family:Serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p {
    margin: 0px;
    padding: 0px;
}

td{padding-bottom: 5%;}

body {
    font-size: 12px;
    color: #666;
    line-height: 1.2em;
}

ol, ul {
    list-style: none;
}

/* /* 관리자 로그인 시 헤더 */
#header .navigation_bar{
	position:relative;height:60px;/* padding-left:100px;padding-right:80px; */background-color:#5e6b9e;
	display:block;*zoom:1;z-index:9998;width:1000px;
}

/*메인 카테고리*/
#header .navigation_bar .gnb_main {position:relative;float:left;height:50px;background-color:#5e6b9e;}
#header .navigation_bar .gnb_main li{float:left;border:1px solid transparent;border-bottom:none;}
#header .navigation_bar .gnb_main .section_logo{padding-top:20px;}
#header .navigation_bar .gnb_main .section_logo a{
	font-weight:bold;font-family:Verdana;font-size:35px;color:#b6c6f2;text-decoration:none;
}
#header .navigation_bar .gnb_main a.text {
	position:relative;padding:25px 10px 0;height:50px;display:inline-block;
	text-decoration:none;font-size:13px;font-weight:bold;font-family:dotum;color:#fff;
	}
#header .navigation_bar .gnb_main a.text:hover {text-decoration:none;color:#5e6b9e;background-color:#fff}


/* 서브 카테고리 */
#header .navigation_bar .gnb_sub{float:right;height:50px;background-color:#5e6b9e;color:#fff;font-size: 10px;}
#header .navigation_bar .gnb_sub li{float:left;border:1px solid transparent;border-bottom:none;}
#header .navigation_bar .gnb_sub a{color:#fff;display:inline-block;padding:30px 5px 0;text-decoration:none}
#header .navigation_bar .gnb_sub a:hover {text-decoration:underline;color:#d8dbe8;}

