.thumbnail-wrappper {
	width: 25%;
}

.thumbnail {
	position: relative;
	padding-top: 200%;
	overflow: hidden;
}

img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	height: auto;
}

