/* CSS Document */

.bookText1		{font-family:µ¸¿ò; font-size:12px; color:#6A6A6A; line-height:16px; text-decoration:none;}					
.bookText2		{font-family:µ¸¿ò; font-size:12px; color:#6A6A6A; line-height:16px; text-decoration:none;}					

.mallCtgBlue			{font-family:µ¸¿ò; font-size:12px; color:#3584C7; line-height:16px; text-decoration:none;}		
.mallCtgBlue a:active		{font-family:µ¸¿ò; font-size:12px; color:#3584C7; line-height:16px; text-decoration:none;}		
.mallCtgBlue a:link		{font-family:µ¸¿ò; font-size:12px; color:#3584C7; line-height:16px; text-decoration:none;}		
.mallCtgBlue a:visited		{font-family:µ¸¿ò; font-size:12px; color:#3584C7; line-height:16px; text-decoration:none;}		
.mallCtgBlue a:hover		{font-family:µ¸¿ò; font-size:12px; color:#3584C7; line-height:16px; text-decoration:underline;}		

.weeklyBest			{font-family:µ¸¿ò; font-size:12px; color:#4D9559; line-height:16px; text-decoration:none;}		
.weeklyBest a:active		{font-family:µ¸¿ò; font-size:12px; color:#4D9559; line-height:16px; text-decoration:none;}		
.weeklyBest a:link		{font-family:µ¸¿ò; font-size:12px; color:#4D9559; line-height:16px; text-decoration:none;}		
.weeklyBest a:visited		{font-family:µ¸¿ò; font-size:12px; color:#4D9559; line-height:16px; text-decoration:none;}		
.weeklyBest a:hover		{font-family:µ¸¿ò; font-size:12px; color:#4D9559; line-height:16px; text-decoration:underline;}

.reviewName1			{font-family:µ¸¿ò; font-size:12px; color:#B69AD8; line-height:16px; text-decoration:none; font-weight:bold;}		
.reviewName1:active		{font-family:µ¸¿ò; font-size:12px; color:#B69AD8; line-height:16px; text-decoration:none; font-weight:bold;}		
.reviewName1:link		{font-family:µ¸¿ò; font-size:12px; color:#B69AD8; line-height:16px; text-decoration:none; font-weight:bold;}		
.reviewName1:visited		{font-family:µ¸¿ò; font-size:12px; color:#B69AD8; line-height:16px; text-decoration:none; font-weight:bold;}		
.reviewName1:hover		{font-family:µ¸¿ò; font-size:12px; color:#FFFFFF; line-height:16px; text-decoration:none; font-weight:bold;}		

.reviewName2		{font-family:µ¸¿ò; font-size:12px; color:#9B80A8; line-height:16px; text-decoration:none;}		
.reviewName3		{font-family:µ¸¿ò; font-size:12px; color:#FFFFFF; line-height:16px; text-decoration:none; font-weight:bold;}
		
.reviewName4		{font-family:µ¸¿ò; font-size:12px; color:#F4E4FF; line-height:14px; text-decoration:none;}	
.reviewName4 a:actieve		{font-family:µ¸¿ò; font-size:12px; color:#F4E4FF; line-height:14px; text-decoration:none;}	
.reviewName4 a:link		{font-family:µ¸¿ò; font-size:12px; color:#F4E4FF; line-height:14px; text-decoration:none;}	
.reviewName4 a:visited		{font-family:µ¸¿ò; font-size:12px; color:#F4E4FF; line-height:14px; text-decoration:none;}	
.reviewName4 a:hover		{font-family:µ¸¿ò; font-size:12px; color:#F4E4FF; line-height:14px; text-decoration:underline;}	

.bookTitle_RV			{font-family:µ¸¿ò; font-size:12px; color:#72558B; line-height:16px; text-decoration:none; font-weight:bold;}			
.bookTitle_RV a:active		{font-family:µ¸¿ò; font-size:12px; color:#72558B; line-height:16px; text-decoration:none; font-weight:bold;}			
.bookTitle_RV a:link		{font-family:µ¸¿ò; font-size:12px; color:#72558B; line-height:16px; text-decoration:none; font-weight:bold;}			
.bookTitle_RV a:visited		{font-family:µ¸¿ò; font-size:12px; color:#72558B; line-height:16px; text-decoration:none; font-weight:bold;}			
.bookTitle_RV a:hover		{font-family:µ¸¿ò; font-size:12px; color:#72558B; line-height:16px; text-decoration:underline; font-weight:bold;}			

.publisher_RV		{font-family:µ¸¿ò; font-size:12px; color:#9F82BC; line-height:16px; text-decoration:none;}	

.grapeText1			{font-family:µ¸¿ò; font-size:12px; color:#896EC0; line-height:16px; text-decoration:none;}		
.grapeText1 a:active		{font-family:µ¸¿ò; font-size:12px; color:#896EC0; line-height:16px; text-decoration:none;}		
.grapeText1 a:link		{font-family:µ¸¿ò; font-size:12px; color:#896EC0; line-height:16px; text-decoration:none;}		
.grapeText1 a:visited		{font-family:µ¸¿ò; font-size:12px; color:#896EC0; line-height:16px; text-decoration:none;}		
.grapeText1 a:hover		{font-family:µ¸¿ò; font-size:12px; color:#503286; line-height:16px; text-decoration:underline;}		

.grapeText2		{font-family:µ¸¿ò; font-size:12px; color:#BFB1DD; line-height:16px; text-decoration:none; font-weight:bold;}				
.grapeText3		{font-family:µ¸¿ò; font-size:12px; color:#FAF5FF; line-height:16px; text-decoration:none;}				

.bKeeperText1		{font-family:µ¸¿ò; font-size:12px; color:#D9F8FF; line-height:16px; text-decoration:none;}				
.bKeeperText2		{font-family:µ¸¿ò; font-size:12px; color:#FFFFFF; line-height:16px; text-decoration:none; font-weight:bold;}	

.labelGuide		{font-family:µ¸¿ò; font-size:12px; color:#698BA6; line-height:16px; text-decoration:none;}
.musicText		{font-family:µ¸¿ò; font-size:12px; color:#787878; line-height:16px; text-decoration:none;}

.dailyTop1			{font-family:µ¸¿ò; font-size:12px; color:#FFFFFF; line-height:16px; text-decoration:none; font-weight:bold;}
.dailyTop1 a:active		{font-family:µ¸¿ò; font-size:12px; color:#FFFFFF; line-height:16px; text-decoration:none; font-weight:bold;}
.dailyTop1 a:link		{font-family:µ¸¿ò; font-size:12px; color:#FFFFFF; line-height:16px; text-decoration:none; font-weight:bold;}
.dailyTop1 a:visited		{font-family:µ¸¿ò; font-size:12px; color:#FFFFFF; line-height:16px; text-decoration:none; font-weight:bold;}
.dailyTop1 a:hover		{font-family:µ¸¿ò; font-size:12px; color:#FFFFFF; line-height:16px; text-decoration:none; font-weight:bold;}

.dailyTop2		{font-family:µ¸¿ò; font-size:12px; color:#6990B9; line-height:16px; text-decoration:none; font-weight:bold;}
.dailyTop3		{font-family:µ¸¿ò; font-size:12px; color:#9267AB; line-height:16px; text-decoration:none;}

.rightMenu1		{font-family:µ¸¿ò; font-size:12px; color:#6C97B4; line-height:16px; text-decoration:none; font-weight:bold;}
.rightMenu2		{font-family:µ¸¿ò; font-size:12px; color:#256D9F; line-height:16px; text-decoration:none; font-weight:bold;}
.rightMenu3		{font-family:µ¸¿ò; font-size:12px; color:#D07908; line-height:16px; text-decoration:none; font-weight:bold;}
.rightMenu4		{font-family:µ¸¿ò; font-size:12px; color:#A9570E; line-height:16px; text-decoration:none; font-weight:bold;}

.eventWorld1		{font-family:µ¸¿ò; font-size:11px; color:#595959; line-height:15px; text-decoration:none; font-weight:bold;}
.eventWorld2		{font-family:µ¸¿ò; font-size:11px; color:#999999; line-height:15px; text-decoration:none;}
.musicReview		{font-family:µ¸¿ò; font-size:11px; color:#82713C; line-height:16px; text-decoration:none;}
.rankText		{font-family:µ¸¿ò; font-size:11px; color:#FFFFFF; line-height:16px; text-decoration:none; font-weight:bold;}



/* »ó¼¼ ºÐ·ù Ä«Å×°í¸® ³ëÃâ(»ó´Ü) 20091118 */

/*green*/
.cate_green01			{font-family:µ¸¿ò; font-size:12px; color:#4D4D4D; line-height:15px; text-decoration:none; font-weight:bold;}		
.cate_green01:active	{font-family:µ¸¿ò; font-size:12px; color:#4D4D4D; line-height:15px; text-decoration:none; font-weight:bold;}		
.cate_green01:link		{font-family:µ¸¿ò; font-size:12px; color:#4D4D4D; line-height:15px; text-decoration:none; font-weight:bold;}		
.cate_green01:visited	{font-family:µ¸¿ò; font-size:12px; color:#4D4D4D; line-height:15px; text-decoration:none; font-weight:bold;}		
.cate_green01:hover		{font-family:µ¸¿ò; font-size:12px; color:#2D9536; line-height:15px; text-decoration:underline; font-weight:bold;}
/*green2*/
.cate_green02			{font-family:µ¸¿ò; font-size:11px; color:#4D4D4D; line-height:15px; text-decoration:none; font-weight:normal;}		
.cate_green02:active	{font-family:µ¸¿ò; font-size:11px; color:#4D4D4D; line-height:15px; text-decoration:none; font-weight:normal;}		
.cate_green02:link		{font-family:µ¸¿ò; font-size:11px; color:#4D4D4D; line-height:15px; text-decoration:none; font-weight:normal;}		
.cate_green02:visited	{font-family:µ¸¿ò; font-size:11px; color:#4D4D4D; line-height:15px; text-decoration:none; font-weight:normal;}		
.cate_green02:hover		{font-family:µ¸¿ò; font-size:11px; color:#4D4D4D; line-height:15px; text-decoration:underline; font-weight:normal;}
/*green3*/
.cate_green03			{font-family:µ¸¿ò; font-size:12px; color:#65B72E; line-height:15px; text-decoration:none; font-weight:bold;}		
.cate_green03:active	{font-family:µ¸¿ò; font-size:12px; color:#65B72E; line-height:15px; text-decoration:none; font-weight:bold;}		
.cate_green03:link		{font-family:µ¸¿ò; font-size:12px; color:#65B72E; line-height:15px; text-decoration:none; font-weight:bold;}		
.cate_green03:visited	{font-family:µ¸¿ò; font-size:12px; color:#65B72E; line-height:15px; text-decoration:none; font-weight:bold;}		
.cate_green03:hover		{font-family:µ¸¿ò; font-size:12px; color:#2D9536; line-height:15px; text-decoration:underline; font-weight:bold;}
/*red*/
.cate_red01				{font-family:µ¸¿ò; font-size:12px; color:#FF5821; line-height:15px; text-decoration:none; font-weight:bold;}		
.cate_red01:active		{font-family:µ¸¿ò; font-size:12px; color:#FF5821; line-height:15px; text-decoration:none; font-weight:bold;}		
.cate_red01:link		{font-family:µ¸¿ò; font-size:12px; color:#FF5821; line-height:15px; text-decoration:none; font-weight:bold;}		
.cate_red01:visited		{font-family:µ¸¿ò; font-size:12px; color:#FF5821; line-height:15px; text-decoration:none; font-weight:bold;}		
.cate_red01:hover		{font-family:µ¸¿ò; font-size:12px; color:#FF5821; line-height:15px; text-decoration:underline; font-weight:bold;}
/*blue*/
.cate_blue01			{font-family:µ¸¿ò; font-size:12px; color:#357DE3; line-height:15px; text-decoration:none; font-weight:bold;}
.cate_blue01:active		{font-family:µ¸¿ò; font-size:12px; color:#357DE3; line-height:15px; text-decoration:none; font-weight:bold;}
.cate_blue01:link		{font-family:µ¸¿ò; font-size:12px; color:#357DE3; line-height:15px; text-decoration:none; font-weight:bold;}
.cate_blue01:visited	{font-family:µ¸¿ò; font-size:12px; color:#357DE3; line-height:15px; text-decoration:none; font-weight:bold;}
.cate_blue01:hover		{font-family:µ¸¿ò; font-size:12px; color:#357DE3; line-height:15px; text-decoration:underline; font-weight:bold;}
/*pink*/
.cate_pink01			{font-family:µ¸¿ò; font-size:12px; color:#FF3DA1; line-height:15px; text-decoration:none; font-weight:bold;}
.cate_pink01:active		{font-family:µ¸¿ò; font-size:12px; color:#FF3DA1; line-height:15px; text-decoration:none; font-weight:bold;}
.cate_pink01:link		{font-family:µ¸¿ò; font-size:12px; color:#FF3DA1; line-height:15px; text-decoration:none; font-weight:bold;}
.cate_pink01:visited	{font-family:µ¸¿ò; font-size:12px; color:#FF3DA1; line-height:15px; text-decoration:none; font-weight:bold;}
.cate_pink01:hover		{font-family:µ¸¿ò; font-size:12px; color:#FF3DA1; line-height:15px; text-decoration:underline; font-weight:bold;}

.dotline03 {background:url(http://image.kyobobook.co.kr/newimages/apps/b2c/template/dotline3.gif) right top repeat-y; background-color:#F4F9F1;}
.dotline04 {background:url(http://image.kyobobook.co.kr/newimages/apps/b2c/template/dotline4.gif) left top repeat-x;}

.btn_category {position:absolute; left:0px; top:0px; CURSOR:hand; margin:0 0 0 640px; *margin:6px 0 0 640px;}


	
/* º»¹®°Ë»ö ¸ÞÀÎ */
.white_s	 			{font-family:µ¸¿ò; font-size: 11px; line-height: 16px; color: #ffffff; text-decoration:none;}
.keyWord_b				{font-family:µ¸¿ò; font-size: 14px; line-height: 16px; color: #353535; text-decoration:none; font-weight:bold;}	


/* »ó¼¼ÄÜÅÙÃ÷_ÀÌ¸Å°ÅÁø_080122 */
.navy_L	 			{font-size:11px; color:#66768F}


/* »ó¼¼ÄÜÅÙÃ÷_eBOOK_±×·¹ÀÌ01_080123 */
.Gray_Y	 			{font-size:11px; color:#817A72}
.Gray_Ybold 			{font-size:12px; color:#C5852E; font-weight:bold;}


/* »ó¼¼ÄÜÅÙÃ÷_eBOOK_±×·¹ÀÌ02_080123 */
.Gray_G	 			{font-size:11px; color:#6E7565}
.Gray_Gbold 			{font-size:12px; color:#75A340; font-weight:bold;}



/*Å×ÀÌºí¶ó¿îµå_Èò»ö_080123 */
.rblock_whiteD {
        background-color: #FFFFFF;
}
.rblock_whiteD *.m5 {
        margin: 0 5px;
}
.rblock_whiteD *.m3 {
        margin: 0 3px;
}
.rblock_whiteD *.m2 { 
        margin: 0 2px;
}
.rblock_whiteD *.m1 {
        margin: 0 1px;
}
.rblock_whiteD p.content {
        padding: 0px 10px;
}
.rblock_whiteDtop, .rblock_whiteDbottom {
        background-color: #EEEEEE; /* must be of the same as body bg-color */
        display: block;
        width: 100%;
}
.rblock_whiteDtop *, .rblock_whiteDbottom * {
        background-color: #FFFFFF; /* must be of the same as .rblock bg-color */
        display: block;
        height: 1px;
        overflow: hidden;
}


/* Å×µÎ¸®ÀÖ´Â Å×ÀÌºí¶ó¿îµå ÇÐ¼ú³í¹®ÁÂÃø¸Þ´º02_080123 */
  #r_articleD {width: 196px   ;font:bold 7pt tahoma;color:#ACC2F4;}
  #r_articleD b{display:block;height:1px;overflow:hidden;}
  #r_articleD b, #r_articleD #r_articleD5{border:#ACC2F4 ;background:#EDF1FD;}
  #r_articleD #r_articleD1{background:#ACC2F4;}
  #r_articleD #r_articleD1{margin:0px 5px 0px 5px;}
  #r_articleD #r_articleD2{border-left:solid 2px;border-right:solid 2px;margin:0px 3px 0px 3px;background-color:#EDF1FD;}
  #r_articleD #r_articleD3, #r_articleD #r_articleD4, #r_articleD #r_articleD5{border-left:solid 1px;border-right:solid 1px;background-color:#EDF1FD;}  
  #r_articleD #r_articleD3{margin:0px 2px 0px 2px;}
  #r_articleD #r_articleD4{height:2px;background-color:#EDF1FD;}
  #r_articleD #r_articleD4{margin:0px 1px 0px 1px;}  
  #r_articleD #r_articleD5{padding:0px 5px 0px 5px;}

/* Å×µÎ¸®ÀÖ´Â Å×ÀÌºí¶ó¿îµå ÇÐ¼ú³í¹®ÁÂÃø¸Þ´º02*/
  #r_articleD_white {width: 181px;font:bold 7pt tahoma;color:#CCD8F2;}
  #r_articleD_white b{display:block;height:1px;overflow:hidden;}
  #r_articleD_white b, #r_articleD_white #r_articleD_white5{border:#CCD8F2 ;background:#FFFFFF;}
  #r_articleD_white #r_articleD_white1{background:#CCD8F2;}
  #r_articleD_white #r_articleD_white1{margin:0px 1px 0px 1px;}
  #r_articleD_white #r_articleD_white1{margin:0px 1px 0px 1px;}
  #r_articleD_white #r_articleD_white2{border-left:solid 1px;border-right:solid 1px;margin:0px 1px 0px 1px;background-color:#FFFFFF;}
  #r_articleD_white #r_articleD_white3, #r_articleD_white #r_articleD_white4, #r_articleD_white #r_articleD_white5{border-left:solid 1px;border-right:solid 1px;background-color:#FFFFFF;}  
  #r_articleD_white #r_articleD_white3{margin:0px 2px 0px 2px;}
  #r_articleD_white #r_articleD_white4{height:px;background-color:#FFFFFF;}
  #r_articleD_white #r_articleD_white4{margin:0px 1px 0px 1px;}  
  #r_articleD_white #r_articleD_white5{padding:0px 5px 0px 5px;}




/* 080328 ±âÇÁÆ®Ãß°¡ */
.gift_txt01 {font-family:±¼¸²;}

/* 080328Ãß°¡_±âÇÁÆ®¿Í Å¬·¡½º¸í µ¿ÀÏ */


.tBrand { font-family:±¼¸²; COLOR: #6ab4d6 }

A.listLink2 { font-family:±¼¸²; COLOR: #5b5b5b }
A.listLink2:hover { font-family:±¼¸²; COLOR: #2d9536; TEXT-DECORATION: underline }
A.listLink .tBrand:hover { font-family:±¼¸²; COLOR: #2d9536 }
A.listLink2 .tBrand:hover { font-family:±¼¸²; COLOR: #2d9536 }

.tPrice { COLOR: #2c62c2; FONT-FAMILY: Verdana; LETTER-SPACING: -1px }
.tSale { COLOR: #5b5b5b; FONT-FAMILY: Verdana; LETTER-SPACING: -1px }
.saleIcon { PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px }




  
/* 081110 ¼îÄÉÀÌ½º Ãß°¡ */
.temp_box {margin:5px 0 0 0; border:#D4D4D4 solid 1px}

.temp_tit {height:29px; background:url(http://image.kyobobook.co.kr/newimages/apps/b2c/template/Bg_DBbox_gray.gif) repeat-x}

.temp_tds {padding:5px 0 0 4px; letter-spacing:-1px}

.temp_tits_td00 {padding:0px 10px 0px 10px;}
/*.temp_tits_td01 {padding:8px 10px 0px 10px;}*/
.temp_tits_td01 {padding:8px 8px 0px 8px;}
.temp_tits_td02 {color:#58C013; font-size:11px; letter-spacing:-1px; padding-bottom:5px; line-height:15px}
.temp_tits_td03 {padding:8px 0 0 30px;}
.temp_tits_td04 {padding:0 0px 0 40px;}
.temp_tits_td05 {padding:20px 0px 0px 0px; text-align:center}

.temp_txt_td01 {padding:5px 0 3px 0;}
.temp_txt_td02 {padding:11px 10px 0px 10px;}
/*.temp_txt_td03 {padding:6px 6px 6px 6px;}*/
.temp_txt_td03 {padding:6px 4px 6px 4px;}

.temp_border_td01 {border-bottom:#EEEEEE solid 1px;}


.temp_bookBorderA06 { width:80px; /*height:115px;*/}/* A0006_090304 Ãß°¡*/
.temp_bookBorder {border:#DBDAD6 solid 1px; width:80px; /*height:115px;*/}/* A0005_090304 Ãß°¡*/
.temp_book_s {border:#D9D9D9 solid 1px; width:45px; height:64px;}

.temp_layer {position:relative; z-index:50}

.temp_layerSaleB {position:absolute; width:38px; height:24px; padding:14px 0 0; left:-43px; top:27px; text-align:center; font-size:11px; line-height:13px; font-family:Verdana; font-weight:bold; color:#FFFFFF; letter-spacing:-1px;background-image:url("http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png");_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png',sizingMethod='crop');}
.temp_layerSaleB02 {position:absolute; width:38px; height:24px; padding:14px 0 0; left:90px; top:-40px; text-align:center; font-size:11px; line-height:13px; font-family:Verdana; font-weight:bold; color:#FFFFFF; letter-spacing:-1px;background-image:url("http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png");_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png',sizingMethod='crop');}

.temp_layerSaleR {position:absolute; width:38px; height:24px; padding:14px 0 0; left:106px; top:-41px; text-align:center; font-size:11px; line-height:13px; font-family:Verdana; font-weight:bold; color:#FFFFFF; letter-spacing:-1px;background-image:url("http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png");_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png',sizingMethod='crop');}
.temp_layerSaleR02 {position:absolute; width:38px; height:24px; padding:14px 0 0; left:80px; top:-47px; text-align:center; font-size:11px; line-height:13px; font-family:Verdana; font-weight:bold; color:#FFFFFF; letter-spacing:-1px;background-image:url("http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png");_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png',sizingMethod='crop');}
.temp_layerSaleR03 {position:absolute; width:38px; height:24px; padding:14px 0 0; left:-85px; top:95px; text-align:center; font-size:11px; line-height:13px; font-family:Verdana; font-weight:bold; color:#FFFFFF; letter-spacing:-1px;background-image:url("http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png");_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png',sizingMethod='crop');}
.temp_layerSaleR04 {position:absolute; width:38px; height:24px; padding:14px 0 0; left:80px; top:-47px; text-align:center; font-size:11px; line-height:13px; font-family:Verdana; font-weight:bold; color:#FFFFFF; letter-spacing:-1px;background-image:url("http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png");_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png',sizingMethod='crop');}
.temp_layerSaleR05 {position:absolute; width:38px; height:24px; padding:14px 0 0; left:30px; top:-30px; text-align:center; font-size:11px; line-height:13px; font-family:Verdana; font-weight:bold; color:#FFFFFF; letter-spacing:-1px;background-image:url("http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png");_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png',sizingMethod='crop');}/*D0014*/

.temp_layerSaleBA {position:relative; width:38px; height:24px; padding:14px 0 0; left:-20px; top:48px; text-align:center; font-size:11px; line-height:13px; font-family:Verdana; font-weight:bold; color:#FFFFFF; letter-spacing:-1px;background-image:url("http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png");_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.kyobobook.co.kr/ink/images/welcome/bg_today.png',sizingMethod='crop');}/* 090109 Ãß°¡*/


.temp_layerIcon01 {position:absolute; width:27px; height:10px;left:48px; top:3px; text-align:left}
.temp_layerIcon02 {position:absolute; width:27px; height:10px;left:105px; top:-135px; text-align:left}





.temp_layerPre {position:absolute; left:15px; top:50px;}
.temp_layerNext {position:absolute; left:131px; top:50px;}

.temp_tits_td05 {padding:20px 0px 0px 0px; text-align:center}

.temp_num {border:#D3D3D3 solid 1px; color:#666666; font-family:Verdana; font-weight:bold; width:22px; text-align:center; background-color:#FFFFFF; text-decoration:none}
.temp_num a:active {color:#666666; font-family:Verdana; font-weight:bold; width:22px; text-align:center; background-color:#FFFFFF; text-decoration:none}
.temp_num a:link {color:#666666; font-family:Verdana; font-weight:bold; width:22px; text-align:center; background-color:#FFFFFF; text-decoration:none}
.temp_num a:visited {color:#666666; font-family:Verdana; font-weight:bold; width:22px; text-align:center; background-color:#FFFFFF; text-decoration:none}
.temp_num a:hover {color:#FD5400; font-family:Verdana; font-weight:bold; width:22px; text-align:center; background-color:#FFFEE0; text-decoration:none}


.temp_num_view {border:#D3D3D3 solid 1px; color:#FD5400; font-family:Verdana; font-weight:bold; width:22px; text-align:center; background-color:#FFFEE0; text-decoration:none}



.temp_bookBorder_a1 {width:80px; /*height:115px;*/}/* A0005_090310 Ãß°¡*/

.temp_layerSaleBR_ai {position:absolute; z-index:10; width:42px; height:42px; padding:12px 0 0 6px; left:55px; top:-55px} /* 090310 Ãß°¡ */
.temp_layerSaleBR_at {position:absolute; z-index:11; width:42px; height:42px; padding:12px 0 0 6px; left:59px; top:-42px; font-family:Verdana; font-weight:bold; color:#FFFFFF; letter-spacing:-1px; text-align:center}/* A0005_090310 Ãß°¡ */

.temp_layerSaleBR_ai06 {position:absolute; z-index:10; width:42px; height:42px; padding:12px 0 0 6px; left:95px; top:-55px} /* 090310 Ãß°¡ */
.temp_layerSaleBR_at06 {position:absolute; z-index:11; width:42px; height:42px; padding:12px 0 0 6px; left:99px; top:-42px; font-family:Verdana; font-weight:bold; color:#FFFFFF; letter-spacing:-1px; text-align:center}/* A0006_090318 Ãß°¡ */



.temp_pm_book2 {overflow:hidden; height:110px; width:80px; border:#ADADAD solid 1px;} /* 090310 Ãß°¡ */
.temp_pm_txt2 {overflow:hidden; width:135px; height:55px; vertical-align:top; text-align:center; padding-top:13px;}  090310 Ãß°¡ 
