@charset "EUC-KR";
#myroom_contents{color:#666666;font-family:'Tahoma','Dotum',sans-serif;*font-family:'Dotum',sans-serif;}

.bul_green20 .sub_title{text-align:left;float:left;padding-top:7px;font-weight:normal;font-size:12px;}
.bul_green20 .sub_title .col{padding-top:1px;color:#767676 !important;font-size:14px;font-weight:normal !important;position:relative;font-family:'Dotum',sans-serif;}
.input_style{padding-left:5px;padding-right:5px;}
.bul_bule .sub_text{color:#555555 !important;font-weight:normal;position:relative;}
.bul_bule .sub_text .col{position:relative;}

.non_members_snb{padding:15px 13px 7px;background:#f7f7f7;line-height:16px;color:#656464;border-bottom:1px solid #ececec;}


.td_font_12 {width:100%;border-spacing:0;}
.td_font_12 td{padding:5px 10px;}
.td_font_12 td.align_left {padding:5px 10px 5px 15px; text-align:left;}
.td_font_12 td.pdnone{padding:0px;}
.td_font_12 tbody th{padding-top:10px !important;}/* 2015-07-14 td, th ÆÐµùº¯°æ */
.td_font_12 td{font-size:12px;color:#777777;line-height:16px;}
.td_font_12 td a{color:#777777;font-size:12px;}
.td_font_12 td a:hover{text-decoration:underline;font-size:12px;}
.td_font_12 td .order_number{font-weight:bold;text-decoration:underline;}
.td_font_12 td.img_cell{vertical-align:top;width:70px;padding-right:0;}
.td_font_12 td.img_cell img{width:70px;border:1px solid #a7a7a7;vertical-align:top;}
.td_font_12 td.prod_cell{vertical-align:top;border-left:0;text-align:left;}
.td_font_12 .book_option {color:#677ee8;font-size:11px;margin-top:5px;}
.td_font_12 .book_writer {color:#777;font-size:11px;margin-top:5px;}
.td_font_12 .book_option span{display:inline-block;}
.td_font_12 td .book_etc{margin-top:5px;}
.td_font_12 tbody th.align_left{padding-left:15px;}
.td_font_12 tbody th{border-top:1px solid #dadada;}
.td_font_12 .sort_option a{min-width:40px;}
.td_font_12 tbody tr:first-child th,
.td_font_12 tbody tr:first-child td{border-top:none;}
.td_font_12 .btn_contract{color:#666666;}
.td_font_12 .detail_cost td{border-top:1px dashed #99bddd;text-align:left;vertical-align:top;}
.td_font_12 .detail_cost dl{overflow:hidden;margin-bottom:5px;}
.td_font_12 .detail_cost dl dt{float:left;max-width:200px;*width:200px;}
.td_font_12 .detail_cost dl dd{float:right;max-width:80px;*width:80px;text-align:right;}
.td_font_12 .etc_address td{border-top:none;background:url(../images/myroom/etc_address_bg.gif) 0 0 no-repeat;}
.td_font_12 .coupon{padding:10px 7px;background:#e1ecf8;}
.td_font_12 .coupon_text{color:#525252;}
.td_font_12 .coupon_text li{padding:2px 0px;}
.td_font_12.gift td{padding:10px}
.box_gray_my06.add_padding{padding-left:20px;padding-right:20px;}
.re_nodata {border-top:1px solid #99bddd; border-bottom:1px solid #99bddd; text-align:center; padding:13px 0px; font-weight:bold; color:#176fb6;}

/* ±âÅ¸ */
.col{color:#aeaeae;font-size:11px;padding:0px 6px;font-weight:normal;}
.col1{color:#999999;font-size:11px;padding:0px 15px;font-weight:normal;}
.list_normal li{background-position:0px 8px;}
.bul_green20{position:relative;}
.bul_green20 .posa{position:absolute;top:2px;right:0;}
.bul_bule{position:relative;}
.bul_bule .posa{position:absolute;right:0;top:0;}
.bul_style01{padding-left: 8px;background: url(https://simage.kyobobook.co.kr/ink/images/common/bul_square_small.gif) 0 5px no-repeat;color:#767676;}
.bul_col{color:#aeaeae;font-size:11px;padding-right:6px;font-weight:normal;position:relative;top:-1px;}
.pop_list01 li{padding:2px 0px;font-size:11px;letter-spacing:-0.03em;}
.inline_block_160{display:inline-block;min-width:160px;}
.lh_18{line-height:18px !important;}
.list_style0 li{position:relative;padding-left:10px;font-size:11px;margin-top:5px;color:#777777;}
.list_style0 li:first-child{margin-top:0;}
.list_style0 li .bull{position:absolute;left:0;top:0;}
.list_style0 li a.font_blue{text-decoration:underline;}

/* ¹öÆ° */
.btn_small.fix80{width:72px;text-align:center;}
.btn_small.fix66{width:66px;text-align:center;}
.width95{min-width:75px;}
.btn_myroom1{display:inline-block;text-align:center;height:17px;line-height:17px;font-size:11px;letter-spacing:-0.075em;color:#626262;white-space:nowrap;border-radius:2px;border:1px solid #d8d8d8;background:url(../images/myroom/btn_myroom1_bg.gif) 0 bottom repeat-x;box-shadow:0 1px 0px rgba(0,0,0,0.1);padding:0px 8px 0px 10px;font-weight:normal !important;vertical-align:middle;}
.btn_myroom1:hover{box-shadow:0 1px 0px rgba(0,0,0,0.3);}


/* ¸¶ÀÌ·ë */
.myroom_orderguide .list_normal{margin-top:10px;margin-left:0;}

.out_myroom_gradearea{border:1px solid #899bdb;border-left:0;border-right:0;overflow:hidden;margin-bottom:30px;color:#333333;}
.out_myroom_gradearea .user_section{background:#dde5ff;float:left;width:201px;padding-left:20px;border-right:1px solid #c1cfff;}
.out_myroom_gradearea .user_section .user_name{font-weight:bold;margin-top:10px;margin-bottom:3px;}
.out_myroom_gradearea .user_info_list{float:left;border-spacing:0;}
.out_myroom_gradearea .user_info_list td{text-align:center;background:url(../images/myroom/user_info_list_bg.gif) 0 center no-repeat;}
.out_myroom_gradearea .user_section,
.out_myroom_gradearea .user_info_list td{height:54px;}
.out_myroom_gradearea .user_info_list td.first{background:none;}
.out_myroom_gradearea .user_info_list td.cell1{background:none;width:101px;}
.out_myroom_gradearea .user_info_list td.cell2{width:110px}
.out_myroom_gradearea .user_info_list td.cell3{width:110px}
.out_myroom_gradearea .user_info_list td.cell4{width:110px}
.out_myroom_gradearea .user_info_list td.cell5{width:102px}
.out_myroom_gradearea .user_info_list td .tit{margin-bottom:4px;}
.order_tracking_section{border:1px solid #dadada;border-left:0;border-right:0;min-height:75px;overflow:hidden;color:#333333;}
.order_tracking_section .process_list{float:left;width:755px;}
.order_tracking_section .process_list li{float:left;height:63px;background:url(../images/myroom/order_tracking_process_img.gif) 0 bottom no-repeat;padding-left:4px;padding-top:12px;font-weight:bold;letter-spacing:-0.03em;}
.order_tracking_section .process_list{float:left;width:653px;}
.order_tracking_section .process_list li{float:left;height:63px;background:url(../images/myroom/order_tracking_process_imgs.gif) 0 bottom no-repeat;padding-left:10px;padding-top:12px;font-weight:bold;letter-spacing:-0.025em;}
.order_tracking_section .process_list li.cell1{width:103px;}
.order_tracking_section .process_list li.cell2{width:103px;background-position:-113px bottom;}
.order_tracking_section .process_list li.cell3{width:103px;background-position:-226px bottom;}
.order_tracking_section .process_list li.cell4{width:98px;background-position:-339px bottom;}
.order_tracking_section .process_list li.cell5{width:99px;background-position:-447px bottom;}
.order_tracking_section .process_list li.cell6{width:87px;background-position:right bottom;}
.order_tracking_section .process_list li span{color:#365fdd;font-size:16px;}

.order_tracking_section .process_list_st{float:left;width:755px;}
.order_tracking_section .process_list_st li{float:left;height:63px;background:url(../images/myroom/order_tracking_processimg01.gif) 0 bottom no-repeat; padding-top:12px;font-weight:bold;letter-spacing:-0.03em;}
.order_tracking_section .process_list_st li.cell1{width:101px; padding-left:37px;}
.order_tracking_section .process_list_st li.cell2{width:109px;background-position:-137px bottom; padding-left:14px;}
.order_tracking_section .process_list_st li.cell3{width:101px;background-position:-260px bottom; padding-left:16px;}
.order_tracking_section .process_list_st li.cell4{width:100px;background-position:-377px bottom; padding-left:42px;}
.order_tracking_section .process_list_st li.cell5{width:105px;background-position:-137px bottom; padding-left:18px;}
.order_tracking_section .process_list_st li.cell6{width:95px;background-position:-260px bottom; padding-left:16px;}
.order_tracking_section .process_list_st li span{color:#365fdd;font-size:16px;}
.order_tracking_section .total_order{float:left;height:75px;width:101px;background:#f7f7f7;border-left:1px solid #dadada;}
.total_order ul{padding-left:10px;padding-top:10px;}
.total_order ul li{margin-bottom:6px;color:#555555;position:relative;text-align:right;padding-right:10px;background:url(../images/myroom/bul_total_order.gif) 0 5px no-repeat;}
.total_order ul li .tit{position:absolute;left:0;font-weight:bold;padding-left:6px;}

.myroom_wishlist .tab_menu02 li{border-right:0;}
.myroom_wishlist .tab_menu02 li a{min-width:90px;text-align:center;border-right:1px solid #e6e6e6}
.myroom_wishlist .tab_menu02 li a:hover{padding-right:9px !important;}
.myroom_wishlist_slide{position:relative;padding:15px 0px 10px;border-bottom:1px solid #e6e6e6}
.myroom_wishlist_slide ul{overflow:hidden;position:relative;}
.myroom_wishlist_slide ul li{float:left;text-align:center;}
.myroom_wishlist_slide .mask{width:688px;position:relative;margin-left:34px;overflow:hidden;}
.myroom_wishlist_slide ul li{width:100px;padding:0px 36px;}
.myroom_wishlist_slide ul li dt img{width:70px;height:auto;border:1px solid #a7a7a7;}
.myroom_wishlist_slide .btn_prev{position:absolute;left:0;top:80px;}
.myroom_wishlist_slide .btn_next{position:absolute;right:0;top:80px;}
.myroom_wishlist_slide .no_data{text-align:center;padding:40px 0px;}
.prod_type01{height:185px;position:relative;}
.prod_type01 dt{height:98px;}
.prod_type01 dt img{width:70px;border:1px solid #a7a7a7;max-height:96px;display:block;margin:0 auto;}
.prod_type01 .title{color:#333333;line-height:15px;margin-top:5px;}
.prod_type01 .title a{color:#333333;}
.prod_type01 .writer{color:#666666 !important;margin-top:3px;}
.prod_type01 .price{color:#f74451;width:100%;position:absolute;bottom:17px;left:0;}
.prod_type01 .point{width:100%;position:absolute;bottom:0px;left:0;}
.td_font_12 .prod_type01{padding-top:10px;height:150px;;}
.td_font_12 .prod_type01 .price{bottom:0;color:#333333;}
.td_font_12 .prod_type01 .title{margin-top:5px;}

.td_font_12 .same_day{border-bottom:1px dotted #b9bec9;padding:10px 0px 5px;margin-bottom:7px;}
.td_font_12 .same_day_list{overflow:hidden;padding:3px 0px;}
.td_font_12 .same_day_list dt{float:left;padding-left:10px;background:url(https://simage.kyobobook.co.kr/ink/images/common/icon_circle.gif) 0 5px no-repeat;width:114px;}
.td_font_12 .same_day_list dd{float:left;background:url(http://image.kyobobook.co.kr/ink/images/common/line_footer.gif) 0 0 no-repeat;padding-left:12px;}
.td_font_12 tfoot td{background:#f6f6f6;}

.box_info_my{position:relative;}
.box_info_my .posa{position:absolute;right:10px;top:5px;}
.box_info_my ul li{background-position:0px 6px;}
.box_info_my ul li img{margin-top:-1px;}
.tab_menu02.etc li{border-right:0;}
.tab_menu02.etc li a{min-width:100px;text-align:center;border-right:1px solid #e6e6e6}
.tab_menu02.etc li.on a,
.tab_menu02.etc li a:hover{padding-right:9px !important;}
.tab_menu07 li{border-right:1px solid #e6e6e6;}
.tab_menu07 li a{border:0;}
.tab_menu07 li a:hover,
.tab_menu07 li.on a{border-right:1px solid #e6e6e6;}


.ui_count_box{position:relative;width:38px;height:19px;text-align:left;margin:5px auto;}
.ui_count_box .input_style02{width:26px;height:17px;text-align:center;*margin-top:-1px;}
.ui_count_box .quantity_up {position:absolute;right:0;top:0;border:1px solid #d0d0d0;width:9px;height:9px;overflow:hidden;}
.ui_count_box .quantity_down {position:absolute;right:0;bottom:0;border:1px solid #d0d0d0;width:9px;height:9px;overflow:hidden;}
.ui_count_box .quantity_up img,
.ui_count_box .quantity_down img{vertical-align:top;}
.ui_count_box .quantity_up:hover,
.ui_count_box .quantity_down:hover{border:1px solid #adadad}

.dash_box{padding-top:15px;border-top:1px dashed #dadada;}
.board_top_section{overflow:hidden;}

.prs_etc {padding:8px 0px 0px 0px; height:30px; font-weight:normal !important; font-size:12px !important; margin-bottom:-20px;}
.prs_etc span {display:inline-block; margin-top:2px;}
.prs_etc a {float:right;}

/* ¹è¼ÛÁÖ¼Ò·Ï ¹× ³ªÀÇÅëÀå */
.box_gray_my08 {position:relative; border:1px solid #efefef; padding:13px 11px 13px 9px; background:#f7f7f7; color:#767676; overflow:hidden;}
.min_width71 {min-width:71px;}
/*.btn_blue5 {background-image:none; background-color:#5e6b9f !important; border:1px solid #7b8ed1; color:#fff !important; box-shadow:none;}
.btn_blue5:hover {border-color:#5e6b9f;}*/
.letterspacing03{letter-spacing:-0.07em !important;}
.sns_group li {width:95px; text-align:left; margin:0px auto; margin-top:10px;}
.sns_group li:first-child {margin-top:0px !important;}
.sns_group li img {margin-right:5px;}

.completion_box{background:#f7f7f7;border:1px solid #efefef;text-align:center;font-weight:bold;color:#222222;line-height:24px;padding:25px;font-size:14px;}
.margin_left65 {margin-left:65px;}
.margin_left17 {margin-left:17px;}
.padding_left15 {padding-left:15px;}
.table_myroom .list_normal {margin:0px !important;}
.tab_menu02.coupon li a {padding:9px 20px 7px 20px;}
.tab_menu02.coupon li.border_right a {border-right:1px solid #e6e6e6}
.tab_menu02.coupon li.on a {padding:9px 20px 7px 20px;}
.tab_menu02.coupon li a:hover, active {padding:9px 19px 7px 20px !important;}
.tab_menu02.coupon li.on a:hover, active {padding:9px 20px 7px 20px !important; border:none !important;}
.margin_left4 {margin-left:4px;}
.margin_right4 {margin-right:4px;}
.ver_top {vertical-align:top;}
.coupon .sort_option a {padding:5px 10px 4px 10px !important;}
.tab_menu02.coupon li.border_right_gray01 {border-right:1px solid #e6e6e6;}
.tab_menu02.coupon li.border_right_gray01 a:hover, active {padding:9px 20px 7px 20px !important; border:none !important;}
.brnone {border-bottom:none !important;}
.table_myroom th.cash_receipt01 {border-bottom:1px solid #99bddd; border-right:1px solid #dadada; border-left:none !important; text-align:center; color:#5f6b9f !important; background:#f6f6f6 !important;}
.table_myroom th.cash_receipt02 {border-bottom:1px solid #99bddd; border-right:1px solid #99bddd; border-left:none !important; text-align:center; color:#5f6b9f !important; background:#f6f6f6 !important;}
.table_myroom th.cash_receipt03 {border-bottom:1px solid #99bddd; border-right:none !important; border-left:none !important; text-align:center; color:#5f6b9f !important; background:#f6f6f6 !important;}
.table_myroom td.cash_receipt01 {border-top:none !important; border-bottom:1px solid #dadada; border-right:1px solid #dadada; border-left:none !important; text-align:left; font-size:11px; color:#525252 !important;}
.table_myroom td.cash_receipt02 {border-top:none !important; border-bottom:1px solid #dadada; border-right:1px solid #99bddd; border-left:none !important; text-align:center; font-size:11px; color:#525252 !important;}
.table_myroom td.cash_receipt03 {border-top:none !important; border-bottom:1px solid #dadada; border-right:none !important; border-left:none !important; text-align:center; font-size:11px; color:#525252 !important;}

/* jquery datepicker */
.ui-datepicker-trigger{;margin-left:4px;cursor:pointer;border:0;padding:0;vertical-align:middle}
.ui-datepicker{display:none;width:197px;background:#ffffff;border: 1px solid #dadada;}
.ui-datepicker-calendar{width:90%;margin:5px auto 9px;border-spacing:0;}
.ui-datepicker-calendar td{text-align:center;}
.ui-datepicker-header{position:relative;text-align:center;background:#f9f9f9;height:auto;border-bottom:1px solid #dadada;}
.ui-datepicker-next{background:url(../images/myroom/ui_datepicker_arr2.gif) 50% 50% no-repeat;position:absolute;right:15px;top:5px;cursor:pointer;width:15px;height:15px;}
.ui-datepicker-next span{display:none;}
.ui-datepicker-prev{background:url(../images/myroom/ui_datepicker_arr1.gif) 50% 50% no-repeat;position:absolute;left:15px;top:5px;cursor:pointer;width:15px;height:15px;}
.ui-datepicker-prev span{display:none;}
.ui-datepicker-title{text-align:center;padding:4px;}
.ui-datepicker-title select{font-weight:bold;margin:0px 5px;line-height:20px;background:#f9f9f9;border:0;padding:0;}
.ui-datepicker-title select option{}
.ui-datepicker td {border: 0 none;padding: 1px;width: 17px;}
.ui-state-disabled {opacity:0.35;filter:Alpha(Opacity=35);}
.ui-state-disabled .ui-state-default:hover{background:none !important;border:0 !important;}
.ui-state-default{display:block;color:#5a5a5a;line-height:14px;padding-top:2px;border:1px solid #ffffff; }
.ui-state-default:hover{background:#d6d6d6;border:1px solid #aaaaaa;text-decoration:none;}
.ui-state-active{background:#d6d6d6;border:1px solid #aaaaaa}
.ui-datepicker tr td:first-child a{color:#d13e2f;}
.ui-datepicker-calendar thead th{font-weight:normal;color:#999999;border-bottom:1px solid #dfdfdf;padding-bottom:1px;}
.ui-datepicker-today a{background:#f3f3f3;border:1px solid #d6d6d6;}
.date-del{position:absolute;display:none;}

/* °¢Á¾ÆË¾÷ */
.pop_address01 {position:absolute; left:50%; margin-left:-299px; z-index:10000; display:none;}
.pop_receipt01{position:absolute; left:50%; margin-left:-300px; z-index:10000; display:none;}
.pop_cash_receipt01{position:absolute; left:50%; margin-left:-300px; z-index:10000; display:none;}
.pop_card_change01{position:absolute; left:50%; margin-left:-172px; z-index:10000; display:none;}
.pop_regular_delivery{position:absolute; left:50%; margin-left:-400px; z-index:10000; display:none;}
.pop_point_charging {position:absolute; left:50%; margin-left:-172px; z-index:10000; display:none;}
.pop_gift_coupon01{position:absolute; left:50%; margin-left:-300px; z-index:10000; display:none;}
.pop_ok_cashback{position:absolute; left:50%; margin-left:-300px; z-index:10000; display:none;}
.pop_add_shipping{position:absolute; left:50%; margin-left:-300px; z-index:10000; display:none;}
.pop_add_shipping1{position:absolute; left:50%; margin-left:-300px; z-index:10000; display:none;}
.pop_members_withdraw{position:absolute; left:50%; margin-left:-300px; z-index:10000; display:none;}
/*.pop_cash_charging{position:absolute; left:50%; margin-left:-300px; z-index:10000; display:none;}*/
.pop_cash_charging{display:block;}
.pop_sns{position:absolute; left:50%; margin-left:-170px; z-index:10000; display:none;}
.tab_menu02.pop{margin-top:0;border-right:0;border-left:0;}
.tab_menu02.pop li{border-left:0;margin-left:0;border-left:0;}
.tab_menu02.pop li a{border-right:1px solid #e6e6e6;}
.tab_menu02.pop li.on{border-right:0;}
.tab_menu02.pop li.on a,
.tab_menu02.pop li a:hover{padding-right:9px !important;}
.popup_container .btn_small{vertical-align:middle;}
.popup_container .table_myroom th {color:#525252;}
.popup_container .table_myroom{border-bottom:1px solid #dadada;}
.popup_container .re_toparea {width:100%;position:relative;overflow:hidden;}
.popup_container .re_toparea li {float:left;width:50%;text-align:left;}
.layer_popup .card_best a{font-size:11px !important;color:#333333;}
.layer_popup .card_etc{border:1px solid #dadada;padding:6px 15px;margin-top:10px;margin-bottom:8px;}
.layer_popup .card_etc a{font-size:11px;color:#666666;}
.layer_popup .card_etc a:hover{font-size:11px;}
.layer_popup .card_etc ul{overflow:hidden;}
.layer_popup .card_etc li{float:left;padding:6px 7px;width:66px;background:url(https://simage.kyobobook.co.kr/ink/images/common/icon_circle.gif) 0 10px no-repeat;white-space:nowrap;}
.refund_layer{position:absolute;left:50%;margin-left:-300px;display:none;z-index:10000;}
.bul_bule.under {border-bottom:1px solid #99bddd; padding-bottom:10px}

.table_cartlist12 {width:100%; border-top:1px solid #b2bac5; border-bottom:1px solid #b2bac5; border-collapse: collapse; border-spacing:0; }
.table_cartlist12 th { padding:6px 10px; border-left:1px solid #dadada; border-top:1px solid #dadada; border-bottom:none; color:#555; font-size:11px; background-color:#f6f6f6; text-align:left;}
.table_cartlist12 td { padding:6px 10px; border-left:1px solid #dadada; border-top:1px solid #dadada; border-bottom:none; color:#666;}
.table_cartlist12 tr:first-child th,
.table_cartlist12 tr:first-child td {border-top:none;}
.table_cartlist12 th:first-child,
.table_cartlist12 td.first {border-left: none;}

.margin_bottom20 {margin-bottom:20px;}
.margin_right10 {margin-right:10px;}
.margin_top8 {margin-top:8px;}
.padding_bottom5 {padding-bottom:5px !important}
.line_height18 {line-height:18px !important;}
.border_left_gray01 {border-left:1px solid #dadada !important;}
.close_btn{right:20px;}
.tooltip_card_select, .tooltip_receipt_info,
.tooltip_shipping_kind1{display:none;}
.tooltip_receipt_info .new_d{color:#333333 !important;font-weight:normal; padding:10px 11px 6px 11px !important;}
.tooltip_receipt_info, .tooltip_shipping_kind1 .new_d{color:#333333 !important;font-weight:normal;}
.tooltip_receipt_info, .tooltip_shipping_kind1 .layer_popup .new_d li{line-height:16px;padding-bottom:0;}
.tooltip_receipt_info, .tooltip_shipping_kind1 .layer_popup .new_d{padding-bottom:10px;}
.pop_text_box{line-height:16px;margin-top:10px;color:#363636;}
.pop_sub_text{color:#777777;font-size:11px;padding-left:12px}

.pop_regular_delivery .table_style01{border-top:2px solid #363636;border-bottom:1px solid #e8e8e8;border-spacing:0;}
.pop_regular_delivery .table_style01 tr:fitst-child th,
.pop_regular_delivery .table_style01 tr:fitst-child td{border-top:0;}
.pop_regular_delivery .table_style01 th{font-size:12px;color:#363636;background:#fbfbfb;border-right:1px solid #d3d3d3 !important;border-top:1px solid #d3d3d3;height:24px;padding:6px 20px;border-top:1px solid #e8e8e8;text-indent:0;}
.pop_regular_delivery .table_style01 td{font-size:12px;color:#363636;height:24px;padding:6px 14px;border-top:1px solid #e8e8e8;}
.pop_regular_delivery .table_style01 td .input_style{height:23px;line-height:23px;}
.pop_regular_delivery .table_style01 td .btn_small{vertical-align:middle;}
.pop_regular_delivery .table_style01 .btn_new_type1{vertical-align:middle;}
.pop_regular_delivery .box_detail_button{padding:0;border:0;margin:0;}
.pop_regular_delivery .radio_label{margin-right:15px;}
.pop_regular_delivery .checkbox{*margin-left:0;}
.pop_regular_delivery .infor_box{border-bottom:1px solid #dadada;padding:5px 20px 10px;margin-top:10px;}
.pop_regular_delivery .infor_box h4{margin-bottom:13px;color:#333333;font-size:16px;padding:0;}
.pop_regular_delivery .infor_box{color:#767676;font-size:11px;}
.pop_regular_delivery .infor_box .member_list li{margin-bottom:3px;}
.pop_regular_delivery .input-section{float:left;width:490px;}
.pop_regular_delivery .cost-section{float:right;width:231px;}
.pop_regular_delivery .cost-section .agree_box{border:1px solid #b1d1e1;border-top:2px solid #b1d1e1;background:#e3f1f8;}
.pop_regular_delivery .order_caculate{border-top:2px solid #b1d1e1;}
.pop_regular_delivery .order_agree{padding:16px 10px 8px;font-size:11px;background:#f3f3f1;}
.pop_regular_delivery .order_agree li{position:relative;padding:4px 0px;}
.pop_regular_delivery .order_agree li.check_all{margin-bottom:1px;font-size:12px;}
.pop_regular_delivery .order_agree li a{position:absolute;right:0;top:0;}
.pop_regular_delivery .btn_payment{text-align:center;background:#f3f3f1;padding-top:20px;padding-bottom:40px;}
.pop_regular_delivery .btn_cartlist{padding:10px;text-align:center;background:#f3f3f1;}
.pop_regular_delivery .table_caculate{width:100%;border-spacing:0;border-collapse:collapse;background:#dde5ff;}
.pop_regular_delivery .table_caculate th,
.pop_regular_delivery .table_caculate td{padding:7px 20px 13px;font-weight:normal;}
.pop_regular_delivery .table_caculate td.cost{font-weight:bold;}
.pop_regular_delivery .table_caculate .row1 th,
.pop_regular_delivery .table_caculate .row1 td{padding:17px 20px 0px;}
.pop_regular_delivery .table_caculate th{text-align:left;}
.pop_regular_delivery .table_caculate td{text-align:right;}
.pop_regular_delivery .table_caculate tfoot td{padding:10px;background:url(../images/common/dot_s.gif) 0 bottom repeat-x;}
.pop_regular_delivery .table_caculate tfoot .total{padding:0px 10px 21px;}
.pop_regular_delivery .table_caculate tfoot .total .total_box{background:#ffffff;padding:10px 10px 9px;}
.pop_regular_delivery .table_caculate tfoot .price{color:#f74451;font-size:14px;font-weight:bold;font-family:'Malgun Gothic';margin-top:3px;}
.pop_regular_delivery .table_caculate tfoot .price strong{font-size:30px;line-height:32px;font-family:'Tahoma';}
.pop_regular_delivery .ui_count_box{margin:0;}

.pop_sns_group{overflow:hidden;width:100%;}
.pop_sns_group li{float:left;width:33%;text-align:center;vertical-align:top;}
.pop_sns_group li a img{display:block;margin:0 auto 8px;}

.coupon_area {background:url(../images/common/coupon_bg.jpg) left top no-repeat; width:950px; padding:48px 0px 0px 0px;}
.coupon_cont {text-align:center; vertical-align:top; font-size:40px; font-weight:bold;font-family:'Malgun Gothic'; color:#0f345e; letter-spacing:-0.1em; line-height:40px;}
.coupon_cont span {font-size:40px; font-weight:bold;font-family:'Malgun Gothic'; color:#334ba1; line-height:52px; letter-spacing:-0.1em;display:inline-block; height:58px; border-bottom:2px solid #334ba1; margin-bottom:7px; overflow:hidden;}
.coupon_cont .couponimg {margin:30px 0px 20px 0px;}
.coupon_cont ul {width:411px; margin:0px auto; overflow:hidden;}
.coupon_cont ul li {margin-bottom:7px;}
.coupon_cont ul li.tit {float:left; width:75px; background:#fff; padding:6px 0px 6px 13px; color:#2e377d; font-size:12px; font-weight:bold; font-family:gulim !important;; line-height:14px; text-align:left; letter-spacing:0em;}
.coupon_cont ul li.detail {float:left; color:#333333; padding:6px 0px 6px 13px; font-size:12px; font-weight:bold; font-family:gulim !important;; line-height:14px; text-align:left; letter-spacing:0em; width:310px;}
.coupon_cont .coupon_btn {text-align:center; margin-top:27px; width:100%; margin-bottom:23px;}
.coupon_help {background:#e6cfa6; padding:29px 0px 30px 269px; text-align:left;}
.layer_bk_fl {position:absolute;left:50%;margin-left:-172px;display:none;z-index:10000;}

.margin_left3 {margin-left:3px !important;}
.margin_top23 {margin-top:23px !important;}
.margin_top43 {margin-top:43px !important;}
