/* 
#main_content td {
	border:1px solid #666;
	border-collapse: collapse; 
	FONT-SIZE: 10pt;
	COLOR: black;
	LINE-HEIGHT: 160%;
	FONT-FAMILY: ±¼¸², verdana.tahoma;
	border-collapse: collapse; 
} */

#main_content table {
	margin:30px 0 0 0;
	border-collapse: collapse; 
	FONT-SIZE: 10pt;
	COLOR: black;
	LINE-HEIGHT: 160%;
	FONT-FAMILY: ±¼¸², verdana.tahoma;
	border-collapse: collapse; 
}

#main_content select {
	border:1px solid #666;
	FONT-SIZE: 10pt;
	COLOR: black;
	LINE-HEIGHT: 160%;
	FONT-FAMILY: ±¼¸², verdana.tahoma
}

#main_content .name{
	margin:0 0 0 0;
	border:1px solid gray;
	FONT-SIZE: 10pt;
	COLOR: BLACK;
	FONT-FAMILY: ±¼¸², verdana;
	BACKGROUND-COLOR: white
}